<!DOCTYPE html>
<html>
  <head>
    <title>RedditMini</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= current_user.username %>
    <% else %>
      "You are not login yet"
    <% end %>
    <%= yield %>
  </body>
</html>
